name: Build and Publish calculus-cpp

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install build cibuildwheel

      - run: cibuildwheel --output-dir dist

      - run: python -m build --sdist

      - uses: pypa/gh-action-pypi-publish@release/v1
